
    * {
        font-size: 1.25rem;
    }

    form {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    p {
        margin: 0;
    }

    button:hover {
        cursor: pointer;
    }